<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dispatch System GUI</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>

    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->
</head>

<link rel="stylesheet" href="{{url_for('static',filename='Asset/style.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='Asset/style_layout.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='Asset/style_map.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='Asset/style_map_component.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='Asset/style_sendmsg.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='Asset/style_sendmsg_component.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='Asset/style_btn.css')}}">

<body>

    <div class="title">Dispatch System GUI</div>

    <!-- <div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">

            <a href="http://127.0.0.1:3000/">Home Page</a>
            <a href="http://127.0.0.1:3000/skyeyes">Sky Eye</a>

        </div>
    </div> -->

    <!-- <span class="Span" onclick="openNav()">&#9776; Menu</span> -->
    
    <div class="container">

        <div class="item_layout">
            <!-- Cloumn 1 -->
            <div class="item_layout_grid item_layout_1_1">

            </div>
            <div class="item_layout_grid item_layout_1_2">

            </div>
            <div class="item_layout_grid item_layout_1_3">
                <canvas class="point" id="p4-1"></canvas>
            </div>
            <div class="item_layout_grid item_layout_1_4">
                <canvas class="line-hor"></canvas>
            </div>
            <div class="item_layout_grid item_layout_1_5">
                <canvas class="line-hor"></canvas>
            </div>
            <div class="item_layout_grid item_layout_1_6">
                <canvas class="line-hor"></canvas>
            </div>
            <div class="item_layout_grid item_layout_1_7">
                <canvas class="point" id="p3-1"></canvas>
            </div>
            <div class="item_layout_grid item_layout_1_8">
                <canvas class="line-hor"></canvas>
            </div>
            <div class="item_layout_grid item_layout_1_9">
                <canvas class="line-hor"></canvas>
            </div>
            <div class="item_layout_grid item_layout_1_10">
                <canvas class="line-hor"></canvas>
            </div>
            <div class="item_layout_grid item_layout_1_11">
                <canvas class="line-hor"></canvas>
            </div>
            <div class="item_layout_grid item_layout_1_12">
                <canvas class="line-hor"></canvas>
            </div>
            <div class="item_layout_grid item_layout_1_13">
                <canvas class="point" id="p2-1"></canvas>
            </div>
            <div class="item_layout_grid item_layout_1_14">
                <canvas class="line-hor"></canvas>
            </div>
            <div class="item_layout_grid item_layout_1_15">
                <canvas class="line-hor"></canvas>
            </div>
            <div class="item_layout_grid item_layout_1_16">
                <canvas class="line-hor"></canvas>
            </div>
            <div class="item_layout_grid item_layout_1_17">
                <canvas class="line-hor"></canvas>
            </div>
            <div class="item_layout_grid item_layout_1_18">
                <canvas class="line-hor"></canvas>
            </div>
            <div class="item_layout_grid item_layout_1_19">
                <canvas class="line-hor"></canvas>
            </div>
            <div class="item_layout_grid item_layout_1_20">
                <canvas class="point" id="p1-1"></canvas>
            </div>

            <!-- Cloumn 2 -->
            <div class="item_layout_grid item_layout_2_1">

            </div>
            <div class="item_layout_grid item_layout_2_2">

            </div>
            <div class="item_layout_grid item_layout_2_3">
                <canvas class="line-ver"></canvas>
            </div>
            <div class="item_layout_grid item_layout_2_4">

            </div>
            <div class="item_layout_grid item_layout_2_5">

            </div>
            <div class="item_layout_grid item_layout_2_6">

            </div>
            <div class="item_layout_grid item_layout_2_7">
                <canvas class="line-ver"></canvas>
            </div>
            <div class="item_layout_grid item_layout_2_8">

            </div>
            <div class="item_layout_grid item_layout_2_9">

            </div>
            <div class="item_layout_grid item_layout_2_10">

            </div>
            <div class="item_layout_grid item_layout_2_11">

            </div>
            <div class="item_layout_grid item_layout_2_12">

            </div>
            <div class="item_layout_grid item_layout_2_13">
                <canvas class="line-ver"></canvas>
            </div>
            <div class="item_layout_grid item_layout_2_14">

            </div>
            <div class="item_layout_grid item_layout_2_15">

            </div>
            <div class="item_layout_grid item_layout_2_16">

            </div>
            <div class="item_layout_grid item_layout_2_17">

            </div>
            <div class="item_layout_grid item_layout_2_18">

            </div>
            <div class="item_layout_grid item_layout_2_19">

            </div>
            <div class="item_layout_grid item_layout_2_20">
                <canvas class="line-ver"></canvas>
            </div>

            <!-- Cloumn 3 -->
            <div class="item_layout_grid item_layout_3_1">
                <canvas class="station" id="C1"></canvas>
            </div>
            <div class="item_layout_grid item_layout_3_2">
                <canvas class="line-hor"></canvas>
            </div>
            <div class="item_layout_grid item_layout_3_3">
                <canvas class="point" id="p4-2"></canvas>
            </div>
            <div class="item_layout_grid item_layout_3_4">

            </div>
            <div class="item_layout_grid item_layout_3_5">

            </div>
            <div class="item_layout_grid item_layout_3_6">

            </div>
            <div class="item_layout_grid item_layout_3_7">
                <canvas class="line-ver"></canvas>
            </div>
            <div class="item_layout_grid item_layout_3_8">

            </div>
            <div class="item_layout_grid item_layout_3_9">

            </div>
            <div class="item_layout_grid item_layout_3_10">

            </div>
            <div class="item_layout_grid item_layout_3_11">

            </div>
            <div class="item_layout_grid item_layout_3_12">

            </div>
            <div class="item_layout_grid item_layout_3_13">
                <canvas class="line-ver"></canvas>
            </div>
            <div class="item_layout_grid item_layout_3_14">

            </div>
            <div class="item_layout_grid item_layout_3_15">

            </div>
            <div class="item_layout_grid item_layout_3_16">

            </div>
            <div class="item_layout_grid item_layout_3_17">
                <canvas class="station" id="start"></canvas>
            </div>
            <div class="item_layout_grid item_layout_3_18">
                <canvas class="line-hor"></canvas>
            </div>
            <div class="item_layout_grid item_layout_3_19">
                <canvas class="line-hor"></canvas>
            </div>
            <div class="item_layout_grid item_layout_3_20">
                <canvas class="point" id="p1-2"></canvas>
            </div>

            <!-- Cloumn 4 -->
            <div class="item_layout_grid item_layout_4_1">

            </div>
            <div class="item_layout_grid item_layout_4_2">
                <span class="textarea">C1</span>
            </div>
            <div class="item_layout_grid item_layout_4_3">
                <canvas class="line-ver"></canvas>
            </div>
            <div class="item_layout_grid item_layout_4_4">

            </div>
            <div class="item_layout_grid item_layout_4_5">

            </div>
            <div class="item_layout_grid item_layout_4_6">

            </div>
            <div class="item_layout_grid item_layout_4_7">
                <canvas class="line-ver"></canvas>
            </div>
            <div class="item_layout_grid item_layout_4_8">

            </div>
            <div class="item_layout_grid item_layout_4_9">

            </div>
            <div class="item_layout_grid item_layout_4_10">

            </div>
            <div class="item_layout_grid item_layout_4_11">

            </div>
            <div class="item_layout_grid item_layout_4_12">

            </div>
            <div class="item_layout_grid item_layout_4_13">
                <canvas class="line-ver"></canvas>
            </div>
            <div class="item_layout_grid item_layout_4_14">

            </div>
            <div class="item_layout_grid item_layout_4_15">

            </div>
            <div class="item_layout_grid item_layout_4_16">

            </div>
            <div class="item_layout_grid item_layout_4_17">

            </div>
            <div class="item_layout_grid item_layout_4_18">
                <span class="textarea">CS</span>
            </div>
            <div class="item_layout_grid item_layout_4_19">

            </div>
            <div class="item_layout_grid item_layout_4_20">
                <canvas class="line-ver"></canvas>
            </div>

            <!-- Cloumn 5 -->
            <div class="item_layout_grid item_layout_5_1">

            </div>
            <div class="item_layout_grid item_layout_5_2">

            </div>
            <div class="item_layout_grid item_layout_5_3">
                <canvas class="line-ver"></canvas>
            </div>
            <div class="item_layout_grid item_layout_5_4">

            </div>
            <div class="item_layout_grid item_layout_5_5">
                <canvas class="station" id="B1"></canvas>
            </div>
            <div class="item_layout_grid item_layout_5_6">
                <canvas class="line-hor"></canvas>
            </div>
            <div class="item_layout_grid item_layout_5_7">
                <canvas class="point" id="p3-2"></canvas>
            </div>
            <div class="item_layout_grid item_layout_5_8">

            </div>
            <div class="item_layout_grid item_layout_5_9">

            </div>
            <div class="item_layout_grid item_layout_5_10">

            </div>
            <div class="item_layout_grid item_layout_5_11">

            </div>
            <div class="item_layout_grid item_layout_5_12">

            </div>
            <div class="item_layout_grid item_layout_5_13">
                <canvas class="line-ver"></canvas>
            </div>
            <div class="item_layout_grid item_layout_5_14">

            </div>
            <div class="item_layout_grid item_layout_5_15">

            </div>
            <div class="item_layout_grid item_layout_5_16">

            </div>
            <div class="item_layout_grid item_layout_5_17">

            </div>
            <div class="item_layout_grid item_layout_5_18">
                <canvas class="station" id="store1"></canvas>
            </div>
            <div class="item_layout_grid item_layout_5_19">
                <canvas class="line-hor"></canvas>
                <span class="textarea">S1</span>
            </div>
            <div class="item_layout_grid item_layout_5_20">
                <canvas class="point" id="p1-3"></canvas>
            </div>

            <!-- Cloumn 6 -->
            <div class="item_layout_grid item_layout_6_1">

            </div>
            <div class="item_layout_grid item_layout_6_2">

            </div>
            <div class="item_layout_grid item_layout_6_3">
                <canvas class="line-ver"></canvas>
            </div>
            <div class="item_layout_grid item_layout_6_4">

            </div>
            <div class="item_layout_grid item_layout_6_5">

            </div>
            <div class="item_layout_grid item_layout_6_6">
                <span class="textarea">B1</span>
            </div>
            <div class="item_layout_grid item_layout_6_7">
                <canvas class="line-ver"></canvas>
            </div>
            <div class="item_layout_grid item_layout_6_8">

            </div>
            <div class="item_layout_grid item_layout_6_9">

            </div>
            <div class="item_layout_grid item_layout_6_10">

            </div>
            <div class="item_layout_grid item_layout_6_11">

            </div>
            <div class="item_layout_grid item_layout_6_12">

            </div>
            <div class="item_layout_grid item_layout_6_13">
                <canvas class="line-ver"></canvas>
            </div>
            <div class="item_layout_grid item_layout_6_14">

            </div>
            <div class="item_layout_grid item_layout_6_15">

            </div>
            <div class="item_layout_grid item_layout_6_16">

            </div>
            <div class="item_layout_grid item_layout_6_17">

            </div>
            <div class="item_layout_grid item_layout_6_18">
                <canvas class="station" id="store2"></canvas>
            </div>
            <div class="item_layout_grid item_layout_6_19">
                <canvas class="line-hor"></canvas>
                <span class="textarea">S2</span>
            </div>
            <div class="item_layout_grid item_layout_6_20">
                <canvas class="point" id="p1-4"></canvas>
            </div>

            <!-- Cloumn 7 -->
            <div class="item_layout_grid item_layout_7_1">

            </div>
            <div class="item_layout_grid item_layout_7_2">

            </div>
            <div class="item_layout_grid item_layout_7_3">
                <canvas class="line-ver"></canvas>
            </div>
            <div class="item_layout_grid item_layout_7_4">

            </div>
            <div class="item_layout_grid item_layout_7_5">

            </div>
            <div class="item_layout_grid item_layout_7_6">

            </div>
            <div class="item_layout_grid item_layout_7_7">
                <canvas class="line-ver"></canvas>
            </div>
            <div class="item_layout_grid item_layout_7_8">

            </div>
            <div class="item_layout_grid item_layout_7_9">

            </div>
            <div class="item_layout_grid item_layout_7_10">

            </div>
            <div class="item_layout_grid item_layout_7_11">

            </div>
            <div class="item_layout_grid item_layout_7_12">

            </div>
            <div class="item_layout_grid item_layout_7_13">
                <canvas class="line-ver"></canvas>
            </div>
            <div class="item_layout_grid item_layout_7_14">

            </div>
            <div class="item_layout_grid item_layout_7_15">

            </div>
            <div class="item_layout_grid item_layout_7_16">

            </div>
            <div class="item_layout_grid item_layout_7_17">

            </div>
            <div class="item_layout_grid item_layout_7_18">
                <canvas class="station" id="store3"></canvas>
            </div>
            <div class="item_layout_grid item_layout_7_19">
                <canvas class="line-hor"></canvas>
                <span class="textarea">S3</span>
            </div>
            <div class="item_layout_grid item_layout_7_20">
                <canvas class="point" id="p1-5"></canvas>
            </div>

            <!-- Cloumn 8 -->
            <div class="item_layout_grid item_layout_8_1">

            </div>
            <div class="item_layout_grid item_layout_8_2">

            </div>
            <div class="item_layout_grid item_layout_8_3">
                <canvas class="line-ver"></canvas>
            </div>
            <div class="item_layout_grid item_layout_8_4">

            </div>
            <div class="item_layout_grid item_layout_8_5">

            </div>
            <div class="item_layout_grid item_layout_8_6">

            </div>
            <div class="item_layout_grid item_layout_8_7">
                <canvas class="line-ver"></canvas>
            </div>
            <div class="item_layout_grid item_layout_8_8">

            </div>
            <div class="item_layout_grid item_layout_8_9">

            </div>
            <div class="item_layout_grid item_layout_8_10">

            </div>
            <div class="item_layout_grid item_layout_8_11">

            </div>
            <div class="item_layout_grid item_layout_8_12">

            </div>
            <div class="item_layout_grid item_layout_8_13">
                <canvas class="point" id="p2-2"></canvas>
            </div>
            <div class="item_layout_grid item_layout_8_14">
                <canvas class="line-hor"></canvas>
            </div>
            <div class="item_layout_grid item_layout_8_15">
                <canvas class="station" id="A1"></canvas>
            </div>
            <div class="item_layout_grid item_layout_8_16">

            </div>
            <div class="item_layout_grid item_layout_8_17">

            </div>
            <div class="item_layout_grid item_layout_8_18">

            </div>
            <div class="item_layout_grid item_layout_8_19">

            </div>
            <div class="item_layout_grid item_layout_8_20">
                <canvas class="line-ver"></canvas>
            </div>

            <!-- Cloumn 9 -->
            <div class="item_layout_grid item_layout_9_1">
                <canvas class="station" id="C2"></canvas>
            </div>
            <div class="item_layout_grid item_layout_9_2">
                <canvas class="line-hor"></canvas>
            </div>
            <div class="item_layout_grid item_layout_9_3">
                <canvas class="point" id="p4-3"></canvas>
            </div>
            <div class="item_layout_grid item_layout_9_4">

            </div>
            <div class="item_layout_grid item_layout_9_5">
                <canvas class="station" id="B2"></canvas>
            </div>
            <div class="item_layout_grid item_layout_9_6">
                <canvas class="line-hor"></canvas>
            </div>
            <div class="item_layout_grid item_layout_9_7">
                <canvas class="point" id="p3-3"></canvas>
            </div>
            <div class="item_layout_grid item_layout_9_8">

            </div>
            <div class="item_layout_grid item_layout_9_9">

            </div>
            <div class="item_layout_grid item_layout_9_10">

            </div>
            <div class="item_layout_grid item_layout_9_11">

            </div>
            <div class="item_layout_grid item_layout_9_12">

            </div>
            <div class="item_layout_grid item_layout_9_13">
                <canvas class="line-ver"></canvas>
            </div>
            <div class="item_layout_grid item_layout_9_14">

            </div>
            <div class="item_layout_grid item_layout_9_15">

            </div>
            <div class="item_layout_grid item_layout_9_16">
                <span class="textarea">A1</span>
            </div>
            <div class="item_layout_grid item_layout_9_17">

            </div>
            <div class="item_layout_grid item_layout_9_18">

            </div>
            <div class="item_layout_grid item_layout_9_19">

            </div>
            <div class="item_layout_grid item_layout_9_20">
                <canvas class="line-ver"></canvas>
            </div>

            <!-- Cloumn 10 -->
            <div class="item_layout_grid item_layout_10_1">

            </div>
            <div class="item_layout_grid item_layout_10_2">
                <span class="textarea">C2</span>
            </div>
            <div class="item_layout_grid item_layout_10_3">
                <canvas class="line-ver"></canvas>
            </div>
            <div class="item_layout_grid item_layout_10_4">

            </div>
            <div class="item_layout_grid item_layout_10_5">

            </div>
            <div class="item_layout_grid item_layout_10_6">
                <span class="textarea">B2</span>
            </div>
            <div class="item_layout_grid item_layout_10_7">
                <canvas class="line-ver"></canvas>
            </div>
            <div class="item_layout_grid item_layout_10_8">

            </div>
            <div class="item_layout_grid item_layout_10_9">

            </div>
            <div class="item_layout_grid item_layout_10_10">

            </div>
            <div class="item_layout_grid item_layout_10_11">

            </div>
            <div class="item_layout_grid item_layout_10_12">

            </div>
            <div class="item_layout_grid item_layout_10_13">
                <canvas class="line-ver"></canvas>
            </div>
            <div class="item_layout_grid item_layout_10_14">

            </div>
            <div class="item_layout_grid item_layout_10_15">

            </div>
            <div class="item_layout_grid item_layout_10_16">

            </div>
            <div class="item_layout_grid item_layout_10_17">

            </div>
            <div class="item_layout_grid item_layout_10_18">

            </div>
            <div class="item_layout_grid item_layout_10_19">

            </div>
            <div class="item_layout_grid item_layout_10_20">
                <canvas class="line-ver"></canvas>
            </div>


            <!-- Cloumn 11 -->
            <div class="item_layout_grid item_layout_11_1">
                <canvas class="station" id="C3"></canvas>
            </div>
            <div class="item_layout_grid item_layout_11_2">
                <canvas class="line-hor"></canvas>
            </div>
            <div class="item_layout_grid item_layout_11_3">
                <canvas class="point" id="p4-4"></canvas>
            </div>
            <div class="item_layout_grid item_layout_11_4">

            </div>
            <div class="item_layout_grid item_layout_11_5">

            </div>
            <div class="item_layout_grid item_layout_11_6">

            </div>
            <div class="item_layout_grid item_layout_11_7">
                <canvas class="line-ver"></canvas>
            </div>
            <div class="item_layout_grid item_layout_11_8">

            </div>
            <div class="item_layout_grid item_layout_11_9">

            </div>
            <div class="item_layout_grid item_layout_11_10">

            </div>
            <div class="item_layout_grid item_layout_11_11">

            </div>
            <div class="item_layout_grid item_layout_11_12">

            </div>
            <div class="item_layout_grid item_layout_11_13">
                <canvas class="line-ver"></canvas>
            </div>
            <div class="item_layout_grid item_layout_11_14">

            </div>
            <div class="item_layout_grid item_layout_11_15">

            </div>
            <div class="item_layout_grid item_layout_11_16">

            </div>
            <div class="item_layout_grid item_layout_11_17">

            </div>
            <div class="item_layout_grid item_layout_11_18">

            </div>
            <div class="item_layout_grid item_layout_11_19">

            </div>
            <div class="item_layout_grid item_layout_11_20">
                <canvas class="line-ver"></canvas>
            </div>

            <!-- Cloumn 12 -->
            <div class="item_layout_grid item_layout_12_1">

            </div>
            <div class="item_layout_grid item_layout_12_2">
                <span class="textarea">C3</span>
            </div>
            <div class="item_layout_grid item_layout_12_3">
                <canvas class="line-ver"></canvas>
            </div>
            <div class="item_layout_grid item_layout_12_4">

            </div>
            <div class="item_layout_grid item_layout_12_5">

            </div>
            <div class="item_layout_grid item_layout_12_6">

            </div>
            <div class="item_layout_grid item_layout_12_7">
                <canvas class="line-ver"></canvas>
            </div>
            <div class="item_layout_grid item_layout_12_8">

            </div>
            <div class="item_layout_grid item_layout_12_9">

            </div>
            <div class="item_layout_grid item_layout_12_10">

            </div>
            <div class="item_layout_grid item_layout_12_11">

            </div>
            <div class="item_layout_grid item_layout_12_12">

            </div>
            <div class="item_layout_grid item_layout_12_13">
                <canvas class="line-ver"></canvas>
            </div>
            <div class="item_layout_grid item_layout_12_14">

            </div>
            <div class="item_layout_grid item_layout_12_15">

            </div>
            <div class="item_layout_grid item_layout_12_16">

            </div>
            <div class="item_layout_grid item_layout_12_17">

            </div>
            <div class="item_layout_grid item_layout_12_18">

            </div>
            <div class="item_layout_grid item_layout_12_19">

            </div>
            <div class="item_layout_grid item_layout_12_20">
                <canvas class="line-ver"></canvas>
            </div>

            <!-- Cloumn 13 -->
            <div class="item_layout_grid item_layout_13_1">

            </div>
            <div class="item_layout_grid item_layout_13_2">

            </div>
            <div class="item_layout_grid item_layout_13_3">
                <canvas class="line-ver"></canvas>
            </div>
            <div class="item_layout_grid item_layout_13_4">

            </div>
            <div class="item_layout_grid item_layout_13_5">
                <canvas class="station" id="B3"></canvas>
            </div>
            <div class="item_layout_grid item_layout_13_6">
                <canvas class="line-hor"></canvas>
            </div>
            <div class="item_layout_grid item_layout_13_7">
                <canvas class="point" id="p3-4"></canvas>
            </div>
            <div class="item_layout_grid item_layout_13_8">

            </div>
            <div class="item_layout_grid item_layout_13_9">

            </div>
            <div class="item_layout_grid item_layout_13_10">

            </div>
            <div class="item_layout_grid item_layout_13_11">

            </div>
            <div class="item_layout_grid item_layout_13_12">

            </div>
            <div class="item_layout_grid item_layout_13_13">
                <canvas class="point" id="p2-3"></canvas>
            </div>
            <div class="item_layout_grid item_layout_13_14">
                <canvas class="line-hor"></canvas>
            </div>
            <div class="item_layout_grid item_layout_13_15">
                <canvas class="station" id="A2"></canvas>
            </div>
            <div class="item_layout_grid item_layout_13_16">

            </div>
            <div class="item_layout_grid item_layout_13_17">

            </div>
            <div class="item_layout_grid item_layout_13_18">

            </div>
            <div class="item_layout_grid item_layout_13_19">

            </div>
            <div class="item_layout_grid item_layout_13_20">
                <canvas class="line-ver"></canvas>
            </div>

            <!-- Cloumn 14 -->
            <div class="item_layout_grid item_layout_14_1">

            </div>
            <div class="item_layout_grid item_layout_14_2">

            </div>
            <div class="item_layout_grid item_layout_14_3">
                <canvas class="line-ver"></canvas>
            </div>
            <div class="item_layout_grid item_layout_14_4">

            </div>
            <div class="item_layout_grid item_layout_14_5">

            </div>
            <div class="item_layout_grid item_layout_14_6">
                <span class="textarea">B3</span>
            </div>
            <div class="item_layout_grid item_layout_14_7">
                <canvas class="line-ver"></canvas>
            </div>
            <div class="item_layout_grid item_layout_14_8">

            </div>
            <div class="item_layout_grid item_layout_14_9">

            </div>
            <div class="item_layout_grid item_layout_14_10">

            </div>
            <div class="item_layout_grid item_layout_14_11">

            </div>
            <div class="item_layout_grid item_layout_14_12">

            </div>
            <div class="item_layout_grid item_layout_14_13">
                <canvas class="line-ver"></canvas>
            </div>
            <div class="item_layout_grid item_layout_14_14">

            </div>
            <div class="item_layout_grid item_layout_14_15">

            </div>
            <div class="item_layout_grid item_layout_14_16">
                <span class="textarea">A2</span>
            </div>
            <div class="item_layout_grid item_layout_14_17">

            </div>
            <div class="item_layout_grid item_layout_14_18">

            </div>
            <div class="item_layout_grid item_layout_14_19">

            </div>
            <div class="item_layout_grid item_layout_14_20">
                <canvas class="line-ver"></canvas>
            </div>

            <!-- Cloumn 15 -->
            <div class="item_layout_grid item_layout_15_1">

            </div>
            <div class="item_layout_grid item_layout_15_2">

            </div>
            <div class="item_layout_grid item_layout_15_3">
                <canvas class="point" id="p4-5"></canvas>
            </div>
            <div class="item_layout_grid item_layout_15_4">
                <canvas class="line-hor"></canvas>
            </div>
            <div class="item_layout_grid item_layout_15_5">
                <canvas class="line-hor"></canvas>
            </div>
            <div class="item_layout_grid item_layout_15_6">
                <canvas class="line-hor"></canvas>
            </div>
            <div class="item_layout_grid item_layout_15_7">
                <canvas class="point" id="p3-5"></canvas>
            </div>
            <div class="item_layout_grid item_layout_15_8">
                <canvas class="line-hor"></canvas>
            </div>
            <div class="item_layout_grid item_layout_15_9">
                <canvas class="point" id="p2-6"></canvas>
            </div>
            <div class="item_layout_grid item_layout_15_10">

            </div>
            <div class="item_layout_grid item_layout_15_11">

            </div>
            <div class="item_layout_grid item_layout_15_12">

            </div>
            <div class="item_layout_grid item_layout_15_13">
                <canvas class="line-ver"></canvas>
            </div>
            <div class="item_layout_grid item_layout_15_14">

            </div>
            <div class="item_layout_grid item_layout_15_15">

            </div>
            <div class="item_layout_grid item_layout_15_16">

            </div>
            <div class="item_layout_grid item_layout_15_17">

            </div>
            <div class="item_layout_grid item_layout_15_18">

            </div>
            <div class="item_layout_grid item_layout_15_19">

            </div>
            <div class="item_layout_grid item_layout_15_20">
                <canvas class="point" id="p1-6"></canvas>
            </div>

            <!-- Cloumn 16 -->
            <div class="item_layout_grid item_layout_16_1">

            </div>
            <div class="item_layout_grid item_layout_16_2">

            </div>
            <div class="item_layout_grid item_layout_16_3">

            </div>
            <div class="item_layout_grid item_layout_16_4">

            </div>
            <div class="item_layout_grid item_layout_16_5">

            </div>
            <div class="item_layout_grid item_layout_16_6">

            </div>
            <div class="item_layout_grid item_layout_16_7">

            </div>
            <div class="item_layout_grid item_layout_16_8">

            </div>
            <div class="item_layout_grid item_layout_16_9">

            </div>
            <div class="item_layout_grid item_layout_16_10">
                <canvas class="line-transfer-l"></canvas>
            </div>
            <div class="item_layout_grid item_layout_16_11">

            </div>
            <div class="item_layout_grid item_layout_16_12">

            </div>
            <div class="item_layout_grid item_layout_16_13">
                <canvas class="line-ver"></canvas>
            </div>
            <div class="item_layout_grid item_layout_16_14">

            </div>
            <div class="item_layout_grid item_layout_16_15">

            </div>
            <div class="item_layout_grid item_layout_16_16">

            </div>
            <div class="item_layout_grid item_layout_16_17">

            </div>
            <div class="item_layout_grid item_layout_16_18">

            </div>
            <div class="item_layout_grid item_layout_16_19">
                <canvas class="line-transfer-r"></canvas>
            </div>
            <div class="item_layout_grid item_layout_16_20">

            </div>

            <!-- Cloumn 17 -->
            <div class="item_layout_grid item_layout_17_1">

            </div>
            <div class="item_layout_grid item_layout_17_2">

            </div>
            <div class="item_layout_grid item_layout_17_3">

            </div>
            <div class="item_layout_grid item_layout_17_4">

            </div>
            <div class="item_layout_grid item_layout_17_5">

            </div>
            <div class="item_layout_grid item_layout_17_6">

            </div>
            <div class="item_layout_grid item_layout_17_7">

            </div>
            <div class="item_layout_grid item_layout_17_8">

            </div>
            <div class="item_layout_grid item_layout_17_9">

            </div>
            <div class="item_layout_grid item_layout_17_10">

            </div>
            <div class="item_layout_grid item_layout_17_11">
                <canvas class="point" id="p2-5"></canvas>
            </div>
            <div class="item_layout_grid item_layout_17_12">
                <canvas class="line-hor"></canvas>
            </div>
            <div class="item_layout_grid item_layout_17_13">
                <canvas class="point" id="p2-4"></canvas>
            </div>
            <div class="item_layout_grid item_layout_17_14">
                <canvas class="line-hor"></canvas>
            </div>
            <div class="item_layout_grid item_layout_17_15">
                <canvas class="line-hor"></canvas>
            </div>
            <div class="item_layout_grid item_layout_17_16">
                <canvas class="line-hor"></canvas>
            </div>
            <div class="item_layout_grid item_layout_17_17">
                <canvas class="line-hor"></canvas>
            </div>
            <div class="item_layout_grid item_layout_17_18">
                <canvas class="point" id="p1-7"></canvas>
            </div>
            <div class="item_layout_grid item_layout_17_19">

            </div>
            <div class="item_layout_grid item_layout_17_20">

            </div>

            <!-- Cloumn 18 -->
            <div class="item_layout_grid item_layout_18_1">

            </div>
            <div class="item_layout_grid item_layout_18_2">

            </div>
            <div class="item_layout_grid item_layout_18_3">

            </div>
            <div class="item_layout_grid item_layout_18_4">

            </div>
            <div class="item_layout_grid item_layout_18_5">

            </div>
            <div class="item_layout_grid item_layout_18_6">

            </div>
            <div class="item_layout_grid item_layout_18_7">

            </div>
            <div class="item_layout_grid item_layout_18_8">

            </div>
            <div class="item_layout_grid item_layout_18_9">

            </div>
            <div class="item_layout_grid item_layout_18_10">

            </div>
            <div class="item_layout_grid item_layout_18_11">

            </div>
            <div class="item_layout_grid item_layout_18_12">

            </div>
            <div class="item_layout_grid item_layout_18_13">

            </div>
            <div class="item_layout_grid item_layout_18_14">

            </div>
            <div class="item_layout_grid item_layout_18_15">

            </div>
            <div class="item_layout_grid item_layout_18_16">

            </div>
            <div class="item_layout_grid item_layout_18_17">

            </div>
            <div class="item_layout_grid item_layout_18_18">

            </div>
            <div class="item_layout_grid item_layout_18_19">

            </div>
            <div class="item_layout_grid item_layout_18_20">

            </div>

            <!-- Cloumn 19 -->
            <div class="item_layout_grid item_layout_19_1">

            </div>
            <div class="item_layout_grid item_layout_19_2">

            </div>
            <div class="item_layout_grid item_layout_19_3">

            </div>
            <div class="item_layout_grid item_layout_19_4">

            </div>
            <div class="item_layout_grid item_layout_19_5">

            </div>
            <div class="item_layout_grid item_layout_19_6">

            </div>
            <div class="item_layout_grid item_layout_19_7">

            </div>
            <div class="item_layout_grid item_layout_19_8">

            </div>
            <div class="item_layout_grid item_layout_19_9">

            </div>
            <div class="item_layout_grid item_layout_19_10">

            </div>
            <div class="item_layout_grid item_layout_19_11">

            </div>
            <div class="item_layout_grid item_layout_19_12">

            </div>
            <div class="item_layout_grid item_layout_19_13">

            </div>
            <div class="item_layout_grid item_layout_19_14">

            </div>
            <div class="item_layout_grid item_layout_19_15">

            </div>
            <div class="item_layout_grid item_layout_19_16">

            </div>
            <div class="item_layout_grid item_layout_19_17">

            </div>
            <div class="item_layout_grid item_layout_19_18">

            </div>
            <div class="item_layout_grid item_layout_19_19">

            </div>
            <div class="item_layout_grid item_layout_19_20">

            </div>

            <!-- Cloumn 20 -->
            <div class="item_layout_grid item_layout_20_1">

            </div>
            <div class="item_layout_grid item_layout_20_2">

            </div>
            <div class="item_layout_grid item_layout_20_3">

            </div>
            <div class="item_layout_grid item_layout_20_4">

            </div>
            <div class="item_layout_grid item_layout_20_5">

            </div>
            <div class="item_layout_grid item_layout_20_6">

            </div>
            <div class="item_layout_grid item_layout_20_7">

            </div>
            <div class="item_layout_grid item_layout_20_8">

            </div>
            <div class="item_layout_grid item_layout_20_9">

            </div>
            <div class="item_layout_grid item_layout_20_10">

            </div>
            <div class="item_layout_grid item_layout_20_11">

            </div>
            <div class="item_layout_grid item_layout_20_12">

            </div>
            <div class="item_layout_grid item_layout_20_13">

            </div>
            <div class="item_layout_grid item_layout_20_14">

            </div>
            <div class="item_layout_grid item_layout_20_15">

            </div>
            <div class="item_layout_grid item_layout_20_16">

            </div>
            <div class="item_layout_grid item_layout_20_17">

            </div>
            <div class="item_layout_grid item_layout_20_18">

            </div>
            <div class="item_layout_grid item_layout_20_19">

            </div>
            <div class="item_layout_grid item_layout_20_20">

            </div>
        </div>

        <div class="item_sendmsg">

            <button class="accordion">Taxi Service</button>
            <div class="panel">
                <div class="sendarea">Choose AMR : </div>
                <br>
                <select class="combobox" id="AMRs_taxi">
                    <option value="I003MR">TM-50</option>
                    <option value="I002MR">TM-100</option>
                    <option value="I001MR">TM-250</option>
                    <option value="I004MR">LS-50</option>
                    <option value="I005MR">LS-100</option>
                    <option value="I006MR">LS-250</option>
                </select>
                <br>
                <hr>
                <div class="sendarea">Choose Station : </div>
                <br>
                <select class="combobox" id="Stations_taxito">
                    <option value="start">CS</option>
                    <option value="store1">S1</option>
                    <option value="store2">S2</option>
                    <option value="store3">S3</option>
                    <option value="A1">A1</option>
                    <option value="A2">A2</option>
                    <option value="B1">B1</option>
                    <option value="B2">B2</option>
                    <option value="B3">B3</option>
                    <option value="C1">C1</option>
                    <option value="C2">C2</option>
                    <option value="C3">C3</option>
                </select>
                <br>
                <hr>
                <br>
                <button onclick="Taxi_Service()">Start</button>
            </div>

            <br>

            <!-- <button class="accordion">Transport Service</button>
            <div class="panel">
                <div class="sendarea">Choose AMR : </div>
                <br>
                <select class="combobox" id="AMRs_transport">
                    <option value="I003MR">TM-50</option>
                    <option value="I002MR">TM-100</option>
                    <option value="I001MR">TM-250</option>
                    <option value="I004MR">LS-50</option>
                    <option value="I005MR">LS-100</option>
                    <option value="I006MR">LS-250</option>
                </select>
                <br>
                <hr>
                <div class="sendarea">Choose From : </div>
                <br>
                <select class="combobox" id="Stations_transfrom">
                    <option value="start">CS</option>
                    <option value="store1">S1</option>
                    <option value="store2">S2</option>
                    <option value="store3">S3</option>
                    <option value="A1">A1</option>
                    <option value="A2">A2</option>
                    <option value="B1">B1</option>
                    <option value="B2">B2</option>
                    <option value="B3">B3</option>
                    <option value="C1">C1</option>
                    <option value="C2">C2</option>
                    <option value="C3">C3</option>
                </select>
                <br>
                <hr>
                <div class="sendarea">Choose To : </div>
                <br>
                <select class="combobox" id="Stations_transto">
                    <option value="start">CS</option>
                    <option value="store1">S1</option>
                    <option value="store2">S2</option>
                    <option value="store3">S3</option>
                    <option value="A1">A1</option>
                    <option value="A2">A2</option>
                    <option value="B1">B1</option>
                    <option value="B2">B2</option>
                    <option value="B3">B3</option>
                    <option value="C1">C1</option>
                    <option value="C2">C2</option>
                    <option value="C3">C3</option>
                </select>
                <br>
                <hr>
                <button onclick="Transport_Service()">Start</button>
            </div> -->

            <br>

            <button class="accordion">Charge Service</button>
            <div class="panel">
                <div class="sendarea">Choose AMR : </div>
                <br>
                <select class="combobox" id="AMRs_charge">
                    <option value="I003MR">TM-50</option>
                    <option value="I002MR">TM-100</option>
                    <option value="I001MR">TM-250</option>
                    <option value="I004MR">LS-50</option>
                    <option value="I005MR">LS-100</option>
                    <option value="I006MR">LS-250</option>
                </select>
                <br>
                <hr>
                <div class="sendarea">Choose Status : </div>
                <br>
                <select class="combobox" id="ChargeStation">
                    <option value="GoCharge">Go Charge</option>
                    <option value="StopCharge">Stop Charge</option>
                </select>
                <br>
                <hr>
                <br>
                <button onclick="Charge_Service()">Start</button>
            </div>

        </div>

    </div>

</body>

<script type="module" src="../../static/Service/Config.js"></script>
<script type="module" src="../../static/Service/Taxi.js"></script>
<script type="module" src="../../static/Service/Notice.js"></script>

<!-- DISABLE : No Charge Station & Jackup Module can use -->
<!-- <script type="module" src="../../static/Service/Transport.js"></script> -->
<!-- <script type="module" src="../../static/Service/Charge.js"></script> -->

<script src="{{ url_for('static', filename='/Effect/Btn.js') }}"></script>

</html>