<!DOCTYPE html>
<html>

<head>
    <title>Dispatch System GUI</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Qahiri&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Festive&family=Qahiri&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<link rel="stylesheet" href="{{url_for('static',filename='Asset/style.css')}}">
<link rel="stylesheet" href="{{url_for('static',filename='Asset/content-style.css')}}">

<body>
    <div class="title">Dispatch System GUI</div>

    <!-- <div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
            
            <a href="http://127.0.0.1:3000/">Home Page</a>
            <a href="http://127.0.0.1:3000/skyeyes">SKY EYES</a>

        </div>
    </div> -->

    <!-- <span class="Span" onclick="openNav()">&#9776; Menu</span> -->

    <br>
    <br>
    <br>
    
    <!-- Container -->
    <div class="container">
        <div class="item1">
            <canvas id="BarChart" class="BarChart"></canvas>
        </div>
        <div class="item2">
            <canvas id="LineChart" class="LineChart"></canvas>
        </div>
        <div class="item3">
            <canvas id="BubbleChart" class="BubbleChart"></canvas>
        </div>
        <div class="item4">
            <canvas id="PolarChart" class="PolarChart"></canvas>
        </div>
        <div class="item5">
            <canvas id="PieChart" class="PieChart"></canvas>
        </div>
        <div class="item6">
            <canvas id="RadarChart" class="RadarChart"></canvas>
        </div>
    </div>
</body>

<script src="{{ url_for('static', filename='/Effect/Chart.js') }}"></script>
<script src="{{ url_for('static', filename='/Effect/Btn.js') }}"></script>

</html>