.container {
    height: 80vh;

    display: grid;
    grid-template-columns: 60% 40%;
}

.item_layout {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    /* background-color: skyblue; */

    display: grid;
    grid-template-columns:  50px 50px 50px 50px 50px 
                            50px 50px 50px 50px 50px 
                            50px 50px 50px 50px 50px 
                            50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px 
                        50px 50px 50px 50px 50px 
                        50px 50px 50px 50px 50px 
                        50px 50px 50px 50px 50px;
    
    /* overflow: scroll; */
    padding:5px 70px;
}

.item_sendmsg {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    /* background-color:blueviolet; */

    /* overflow: scroll; */
    padding:15px 0px;
}